@charset "utf-8";


ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.page {
    width: 1440px;
    margin: 0 auto;
}

header {
    width: 100;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h2 {
	margin-left:0px;
}

header > nav {
	width:600px;
}

header ul {
	width:90%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:20px;
	display: flex;
	align-items: center;
}

#mole-img {
    display: table;
    margin-left: auto; 
    margin-right: auto;
    height: 100px;
    width: 100px;
    padding: 20px;
}

#input-form h1 {
    color: deepskyblue;
}

#input-form {
    display: table;
    margin-left: auto; 
    margin-right: auto;
}

#input-num {
    width:500px;
    height:40px;
}

#calculate-result {
    display: table;
    margin-left: auto; 
    margin-right: auto;
    padding: 50px;
}
